<launch>
    <!-- ros_control arm launch file -->
    <include file="$(find raigor_moveit_config)/launch/raigor_gazebo_states.launch" />   

    <!-- ros_control trajectory control dof arm launch file -->
    <include file="$(find raigor_moveit_config)/launch/raigor_trajectory_controller.launch" />

    <!-- moveit launch file -->
    <include file="$(find raigor_moveit_config)/launch/moveit_planning_execution.launch" />
</launch>